<style>
  img.u-photo {
    width: 100%;
    height: auto;
    aspect-ratio: auto;
    object-fit: contain;
    border-radius: 0 !important;
    padding: 0;
    border: 0;
  }
  html { font-size: 16px; }
  @media (min-width: 48em) {
    html { font-size: 18px; }
  }
  @media (min-width: 64em) {
    .page { padding-right: 0; }
    .sidebar, .sidebar:hover {
      opacity: 1;
      transition: none;
    }
    .sidebar .author__content,
    .sidebar .author__urls-wrapper {
      opacity: 0.75;
      transition: opacity 0.2s ease-in-out;
    }
    .sidebar:hover .author__content,
    .sidebar:hover .author__urls-wrapper {
      opacity: 1;
    }
  }
  .page__content h2#project { margin-bottom: 0.5em; }
  .page__content h2#project + h3 { margin-top: 0; }
</style>
